/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap'); */

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Inter';
  margin: 0;
}

.app {
  display: flex;
  /* margin: 0 auto; */
  position: relative;
  /* padding: 20px; */
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@font-face {
  font-family: 'Inter-Thin';
  src: url('styles/fonts/Inter-Thin.ttf');
  /* src: url('fonts/FuturaPT-Medium.woff') format('woff'),
    url('./fonts/FuturaPT-Medium.woff2') format('woff2'); */
}
@font-face {
  font-family: 'Inter-Regular';
  src: url('styles/fonts/Inter-Regular.ttf');
  /* src: url('fonts/FuturaPT-Medium.woff') format('woff'),
    url('./fonts/FuturaPT-Medium.woff2') format('woff2'); */
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('styles/fonts/Inter-Medium.ttf');
  /* src: url('fonts/FuturaPT-Medium.woff') format('woff'),
    url('./fonts/FuturaPT-Medium.woff2') format('woff2'); */
}

@font-face {
  font-family: 'Inter-Black';
  src: url('styles/fonts/Inter-Black.ttf');
  /* src: url('fonts/FuturaPT-Book.woff') format('woff'),
    url('./fonts/FuturaPT-Book.woff2') format('woff2'); */
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('styles/fonts/Inter-Bold.ttf');
  /* src: url('fonts/FuturaPT-Demi.woff') format('woff'),
    url('./fonts/FuturaPT-Demi.woff2') format('woff2'); */
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('styles/fonts/Inter-SemiBold.ttf');
  /* src: url('fonts/FuturaPT-Demi.woff') format('woff'),
    url('./fonts/FuturaPT-Demi.woff2') format('woff2'); */
}
